
<div class="container-fluid">
	<div class="row flex-xl-nowrap">
		<div class="col-12 col-md-3 col-xl-2 bd-sidebar">
<!-- Button trigger modal -->
		<div class="topbar">
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createIntentModal">
		  Create
		</button>
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteIntentModal">
			Delete
		</button>
		</div>
			<!-- As a link -->
      
		<div class="sidebar-nav">
          <ul class="nav navbar-nav">
            <li [ngClass]="{'active': selectedIntent == intent}" (click)="intentClick($event, intent)" *ngFor="let intent of intents"><a >{{intent.Name}}</a></li>
          </ul>
         </div>
		</div>
 
		<main class="col-12 col-md-9 col-xl-8 bd-content" role="main">
      <div>User Says

<div class="container" *ngIf="selectedIntent">
  <div class="panel panel-default">
    <table class="table table-hover">
      <tbody>
        <tr *ngFor="let message of selectedIntent.UserSays">
          <td>
            <span class="glyphicon glyphicon-file"></span>
            {{message.Text}}
          </td>
          <td class="text-right text-nowrap">
            <button class="btn btn-xs btn-warning" (click)="deleteIntentMessage(message.ID,selectedIntent.ID,message.Type)">
              <i class="fas fa-trash-alt" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>




        <div class="input-group">
           <input type="text" class="form-control"  [(ngModel)]="user_says" >    
           <span class="input-group-btn">
                <button class="btn btn-primary" type="button" (click)="saveUserSays()">Save</button>
           </span>
        </div>
      </div>


      <div>Entities

<div class="container" *ngIf="selectedIntent">
  <div class="panel panel-default">
    <table class="table table-hover">
      <tbody>
        <tr *ngFor="let entity of selectedIntent.intentEntities">
          <td>
            <span class="glyphicon glyphicon-file"></span>
            {{entity.Name}}
          </td>
          <td>
            <span class="glyphicon glyphicon-file"></span>
            {{entity.Value}}
          </td>          
          <td class="text-right text-nowrap">
            <button class="btn btn-xs btn-warning" (click)="deleteIntentEntity(entity.ID,entity.IntentID)">
              <i class="fas fa-trash-alt" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>




        <div class="input-group">
           Name:<input type="text" class="form-control"  [(ngModel)]="entityName" >    
           Value:<input type="text" class="form-control"  [(ngModel)]="entityValue" >   
           <span class="input-group-btn">
                <button class="btn btn-primary" type="button" (click)="saveEntity()">Save</button>
           </span>
        </div>
      </div>

      <div>Response Message
<div class="container" *ngIf="selectedIntent">
  <div class="panel panel-default">
    <table class="table table-hover">
      <tbody>
        <tr *ngFor="let message of selectedIntent.Response">
          <td>
            <span class="glyphicon glyphicon-file"></span>
            {{message.Text}}
          </td>
          <td class="text-right text-nowrap">
            <button class="btn btn-xs btn-warning" (click)="deleteIntentMessage(message.ID,selectedIntent.ID,message.Type)">
              <i class="fas fa-trash-alt" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>      
        <div class="input-group">
           <input type="text" class="form-control" [(ngModel)]="response_message">
           <span class="input-group-btn">
                <button class="btn btn-primary" type="button" (click)="saveResponse()">Save</button>
           </span>
        </div>        
      </div>
		</main>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="createIntentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create Intent</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control" [(ngModel)]="name" aria-label="Intent Name">
      </div>
	<div class="alert alert-danger" role="alert" [hidden]="hideAlert">
	  Duplicated Intent's Name.
	</div>      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" #closeBtn (click)="closeModal()">Close</button>
        <button type="button" class="btn btn-primary" (click)="saveIntent()">Save</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteIntentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Intent</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure?
      </div>    
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="deleteIntent()" data-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>